node_modules/
.env*
data/
logs/
coverage/
*.log
.DS_Store
redis-data/
postgres-data/
grafana-data/
prometheus-data/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
backup/
.github
grafana/
prometheus/
package-lock.json