node_modules/
.pnpm-store/

.env
.env.*
!.env.example

data/
logs/
backups/
coverage/

redis-data/
postgres-data/
grafana-data/
prometheus-data/

dist/
build/

.DS_Store
*.log
*.swp
*.swo

.vscode/
.idea/

.github/

grafana/
prometheus/

package-lock.json
yarn.lock

.last-update
.gitlab-ci-vars

eaDir/
SynoEAStream